# Manipulação de tabela fits no Pandas

Será feita a leitura de uma tabela em formato fits, usando o Astropy. Depois, isto será convertido em um Data frame no Pandas.

In [2]:
import pandas as pd
import numpy as np
from astropy.table import Table

Letura dos dados com o método read da classe Table.

In [56]:
dados = Table.read("TILT_TAB_SLIT_UVB.fits")

WARNING: UnitsWarning: 'none' did not parse as fits unit: At col 0, Unit 'none' not supported by the FITS standard.  [astropy.units.core]
WARNING: UnitsWarning: 'ADU' did not parse as fits unit: At col 0, Unit 'ADU' not supported by the FITS standard. Did you mean AU or adu? [astropy.units.core]

Conversão do objeto Table do Astropy para o Dataframe pandas, usando o método to_pandas()

In [46]:
dados = dados.to_pandas()

Verificando o tipo de dados da variável dados. Pode-se ver, na saída, que trata-se de um objeto pandas

In [47]:
type(dados)

pandas.core.frame.DataFrame

Checando o dataframe

In [48]:
dados.head()

,WAVELENGTH,NAME,ORDER,Flux,Intensity,Xcen,Ycen,YGauss,Ytilt,FWHM,SHIFT_Y,TILT,chisq,SPECRES,FLAG
0,303.350800,,24,1693.682053,308.940796,469.825800,993.460331,993.293149,993.269916,4.966773,-0.190415,0.101151,0.003037,6121.888056,0
1,314.027191,,24,4724.594716,NaN,546.020574,2096.967099,2095.965448,2095.973154,NaN,NaN,0.118228,0.003804,5798.382676,4
2,316.136414,,23,751.941807,170.057129,624.388073,965.655938,965.438779,965.508404,5.378685,-0.147534,0.110583,0.004730,5648.945788,0
3,316.136414,,24,2055.580276,374.940796,547.658064,2323.616864,2323.659854,2323.593544,6.173869,-0.023320,0.122072,0.004871,5592.741702,0
4,316.966797,,23,1315.522971,NaN,632.908711,1046.058877,1045.079380,1045.035108,NaN,NaN,0.110568,0.006583,5326.026225,4

Removendo-se os elementos NaN (Not a number), com o método dropna.

In [ ]:
dados = dados.dropna()

Reorganização dos índices, pois foram removidas algumas linhas com seus respectivos índices. Os índices são reorganizados em $0, 1, 2, 3, \cdots$

In [49]:
dados = dados.reset_index(drop=True)

In [50]:
dados.head()

,WAVELENGTH,NAME,ORDER,Flux,Intensity,Xcen,Ycen,YGauss,Ytilt,FWHM,SHIFT_Y,TILT,chisq,SPECRES,FLAG
0,303.350800,,24,1693.682053,308.940796,469.825800,993.460331,993.293149,993.269916,4.966773,-0.190415,0.101151,0.003037,6121.888056,0
1,316.136414,,23,751.941807,170.057129,624.388073,965.655938,965.438779,965.508404,5.378685,-0.147534,0.110583,0.004730,5648.945788,0
2,316.136414,,24,2055.580276,374.940796,547.658064,2323.616864,2323.659854,2323.593544,6.173869,-0.023320,0.122072,0.004871,5592.741702,0
3,317.127563,,23,1058.620289,235.041870,634.492164,1061.646936,1061.140023,1061.320050,4.787113,-0.326886,0.112234,0.007390,6391.736296,0
4,317.127563,,24,1793.493499,349.041870,546.815742,2431.487632,2431.350050,2431.292653,5.646270,-0.194979,0.125136,0.003885,6200.521514,0

Aqui usa-se o método groupby, para organizar para a coluna WAVELENGTH em grupo. Depois, usando-se o paradigma funcional, usa-se a função muda (lambda) para selecionar o que tem a coluna "chisq" menor, por meio do método idxmin em cada membro que foi selecionado por groupby.

In [51]:
dados = dados.iloc[dados.groupby(['WAVELENGTH']).apply(lambda x: x['chisq'].idxmin())]

In [52]:
dados.head()

,WAVELENGTH,NAME,ORDER,Flux,Intensity,Xcen,Ycen,YGauss,Ytilt,FWHM,SHIFT_Y,TILT,chisq,SPECRES,FLAG
0,303.350800,,24,1693.682053,308.940796,469.825800,993.460331,993.293149,993.269916,4.966773,-0.190415,0.101151,0.003037,6121.888056,0
1,316.136414,,23,751.941807,170.057129,624.388073,965.655938,965.438779,965.508404,5.378685,-0.147534,0.110583,0.004730,5648.945788,0
4,317.127563,,24,1793.493499,349.041870,546.815742,2431.487632,2431.350050,2431.292653,5.646270,-0.194979,0.125136,0.003885,6200.521514,0
6,317.342682,,24,2473.895933,528.041870,546.494397,2455.023858,2454.602018,2454.595092,5.459561,-0.428766,0.124879,0.002884,6429.113110,0
7,317.824341,,23,1766.076033,527.940796,641.106476,1129.294176,1129.025361,1128.992767,4.007455,-0.301408,0.112640,0.003484,7677.895683,0

Nova organização dos índices

In [53]:
dados = dados.reset_index(drop=True)

In [54]:
dados.head()

,WAVELENGTH,NAME,ORDER,Flux,Intensity,Xcen,Ycen,YGauss,Ytilt,FWHM,SHIFT_Y,TILT,chisq,SPECRES,FLAG
0,303.350800,,24,1693.682053,308.940796,469.825800,993.460331,993.293149,993.269916,4.966773,-0.190415,0.101151,0.003037,6121.888056,0
1,316.136414,,23,751.941807,170.057129,624.388073,965.655938,965.438779,965.508404,5.378685,-0.147534,0.110583,0.004730,5648.945788,0
2,317.127563,,24,1793.493499,349.041870,546.815742,2431.487632,2431.350050,2431.292653,5.646270,-0.194979,0.125136,0.003885,6200.521514,0
3,317.342682,,24,2473.895933,528.041870,546.494397,2455.023858,2454.602018,2454.595092,5.459561,-0.428766,0.124879,0.002884,6429.113110,0
4,317.824341,,23,1766.076033,527.940796,641.106476,1129.294176,1129.025361,1128.992767,4.007455,-0.301408,0.112640,0.003484,7677.895683,0

## Resumo

In [ ]:
import pandas as pd
import numpy as np
from astropy.table import Table

dados = Table.read("TILT_TAB_SLIT_UVB.fits")
dados = dados.to_pandas()
dados = dados.dropna()
dados = dados.reset_index(drop=True)
dados = dados.iloc[dados.groupby(['WAVELENGTH']).apply(lambda x: x['chisq'].idxmin())]
dados = dados.reset_index(drop=True)